@model WearHouse_WebApp.Models.dbModels.dbWearable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WearableViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrls)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WearableId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
