@{
    ViewData["Title"] = "Landing Page";
}

<!--Henter denne model, da den indeholder wearables med states, titel, description, user-->
@model List<WearHouse_WebApp.Models.Domain.WearableModel>
@using WearHouse_WebApp.Models.Domain
<!--Alle Wearables opdeles i deres status - Alle Wearables fremvises-->
<div class="row">
    <div class="column1">
        @foreach (var post in Model)
        {
            @if (post.Title != "" && post.Title != null && post.State != WearableState.Inactive)
            {
                @if (post.State == WearableState.Selling)
                {
                    <div>
                        <div class="wearablePost-wearable-image">
                            <form asp-controller="Home" asp-action="WearablePost" asp-route-id="@post.ID">
                            <button class="seethrough-button" />
                            @if (post.ImageUrls != null)
                            {
                                <div>
                                    <img src="@post.ImageUrls[0]" class="profile-image-location"/>
                                </div>
                            }
                            else
                            {
                            <div>
                                <img src="Image/noShirt.png" class="profile-image-location"/>
                            </div>
                            }
                            <p class="profile-wearable-title">
                                    @post.Title
                                </p>
                            </form>
                        </div>

                        <div class="boxed">
                            <p class="profile-wearable-title">
                                @post.Description
                            </p>
                            <p class="profile-wearable-title">
                                @post.Owner.Username
                            </p>
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="column2">
        @foreach (var post in Model)
        {
            @if (post.Title != "" && post.Title != null && post.State != WearableState.Inactive)
            {
                @if (post.State == WearableState.Renting)
                {
        <div class="column2">
            <div class="wearablePost-wearable-image">
                <form asp-controller="Home" asp-action="WearablePost" asp-route-id="@post.ID">
                    <button class="seethrough-button" />

                    <div>
                        <img src="@post.ImageUrls[0]" class="profile-image-location" />
                    </div>

                    <p class="profile-wearable-title">
                        @post.Title
                    </p>
                </form>
            </div>

            <div class="boxed">
                <p class="profile-wearable-title">
                    @post.Description
                </p>
                <p class="profile-wearable-title">
                    @post.Owner.Username
                </p>
            </div>
        </div>
                }

            }
        }
    </div>
    <div class="column3">
        @foreach (var post in Model)
        {
            @if (post.Title != "" && post.Title != null && post.State != WearableState.Inactive)
            {
                @if (post.State == WearableState.Borrowing)
                {
        <div class="column3">
            <div class="wearablePost-wearable-image">
                <form asp-controller="Home" asp-action="WearablePost" asp-route-id="@post.ID">
                    <button class="seethrough-button" />

                    <div>
                        <img src="@post.ImageUrls[0]" class="profile-image-location" />
                    </div>

                    <p class="boxed">
                        @post.Title
                    </p>
                </form>
            </div>

            <div class="boxed">
                <p class="profile-wearable-title">
                    @post.Description
                </p>
                <p class="profile-wearable-title">
                    @post.Owner.Username
                </p>
            </div>
        </div>
                }
            }
        }
    </div>
    <div class="column4">
        @foreach (var post in Model)
        {
            @if (post.Title != "" && post.Title != null && post.State != WearableState.Inactive)
            {
                @if (post.State == WearableState.Giving)
                {
        <div class="column4">
            <div class="wearablePost-wearable-image">
                <form asp-controller="Home" asp-action="WearablePost" asp-route-id="@post.ID">
                    <button class="seethrough-button" />

                    <div>
                        <img src="@post.ImageUrls[0]" class="profile-image-location" />
                    </div>

                    <p class="boxed">
                        @post.Title
                    </p>
                </form>
            </div>

            <div class="boxed">
                <p class="profile-wearable-title">
                    @post.Description
                </p>
                <p class="profile-wearable-title">
                    @post.Owner.Username
                </p>
            </div>
        </div>
                }
            }
        }
    </div>
</div>

<!--div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</--div>-->
