@using WearHouse_WebApp.Models.ViewModels
@using WearHouse_WebApp.Models.Domain
@using WearHouse_WebApp.Models.Entities
@model WearableViewModel
@{
    ViewData["title"] = "WearableViewModel Post";
}

<div id="wearablePost-content">
    <div id="wearablePost-user-info">
        <h1>
            @Model.Wearable.dbModel.Title
        </h1>
        <p class="wearablePost-text-field">
            Description: <br />
            @Model.Wearable.Description
        </p>
        <p class="wearablePost-text-field">
            Username: <br />
            @Model.Wearable.Owner.Username
        </p>
        <div class="profile-image-div">
            <img src="~/Presets/Location_Default_Image.jpg" class="profile-image-location" />
        </div>
        <p class="wearablePost-text-field">
            City: <br />
            @Model.Wearable.Owner.Address
        </p>
    </div>

    <div id="wearablePost-images">
        @if (Model.Wearable.ImageUrls != null)
        {
            @foreach (var img in Model.Wearable.ImageUrls)
            {
                <img src="@img" class="wearablePost-wearable-image" />
            }
        }
        else
        {
            for (int i = 0; i < 6; i++)
            {
                <img src="~/Presets/image-not-found.jpg" class="wearablePost-wearable-image" />
            }
        }
        <input type="button" asp-controller="Home" asp-action="Error" style="flex-basis: 100%; height:30px; width: 150px;" />
    </div>

    <!--This is where you comment-->
    <form asp-action="CreateComment">
        <input type="hidden" value="@Model.Wearable.ID" asp-for="Wearable.ID" />
        <label>Comment here:</label>
        <input asp-for="CommentToAdd" class="form-control"><br><br>
        <input type="submit" value="Submit">
    </form>
    <!--type="text" id="comment" name="comment" -->

    <!--Dette skal forbindes til controlleren på en eller anden måde-->
    <!--This is where the comments are-->
    <div id="WearablePost-Comments">
        @if (Model.Wearable.Comments != null)
        {
            @foreach (var comment in Model.Wearable.Comments)
            {
                <div class="column3">
                    <img src="@comment.Author.ProfileImageUrl" class="profile-image-div" />
                    <p>@comment.Author.FirstName</p>
                    <p>@comment.Moment</p>
                </div>
                <div class="column4">
                    <p>@comment.Comment</p>
                </div>
            }
        }
    </div>
</div>

<!--
    Comments og user "og dato" til side
    Skal hentes fra wearablepost
    Wearablepost skal hente fra entitetsmodellen (dbmodel)
    Så der skal tilføjes et nyt table O to M til wearablepost og en M to O til User: Commentdata, som indeholder et id, en string, en datetime, en foreign key til user
    Der skal være en knap som gemmer denne data i modellen og sender det til dbmodel som nyt entry i tabellen
-->